* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    z-index: -1;
}

body {
    margin: 0 10%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

.header {
    display:inline-block;
    background-color: black;
    color: white;
    width: 100%;
    margin: 2% 0;
}

.main {
    padding: 1% 0 3% 0;
    width: 100%;
    border: black solid 1%;
    background-color:white;
    display: inline-block;
    text-align: center;
}

.main * {
   /* display: block;*/
}

.main input {
    display: inline-block;
    margin: 0 0 5% 0;
    border: black solid 5px;
    line-height: 30px;

}

button {
    background-color: black;
    color: white;
    border: 0;
    font-family: 'Raleway', sans-serif;
    padding: 15px 32px;
    font-size: 30px;
    margin-bottom: 1%;
    display: block;
    margin: 0 auto;
}

.footer {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
}

h2 {
    margin:2% 0;
}

.playArea {

}



